<script>
model.SelectedMenu('{{.SelectedMenu}}');

model.ShortcutMenus = ko.observableArray([]);

function ShortcutItem(id, title, url, icon) {
	var item = {
		Id: id,Title: title, Url: url, Icon: icon
	};

	return item;
}

var shortcutmenus = [
	new ShortcutItem("Upload", "Upload Data", "{{BaseUrl}}dataentry/upload", "fa-cloud-upload"),
	new ShortcutItem("DowntimeData", "Breakdown Data Details", "{{BaseUrl}}dataentry/breakdown", "fa-level-down"),
	new ShortcutItem("ParamValue", "Static Details Entry", "{{BaseUrl}}dataentry/paramvalue", "fa-gears"),
	// new ShortcutItem("FinancialModelAvail", "Financial Model Avail.", "{{BaseUrl}}dataentry/financial", "fa-check-square-o"),
	new ShortcutItem("ExpectedGeneration", "Expected Generation Value", "{{BaseUrl}}dataentry/expectedgeneration", "fa-bolt"),
	new ShortcutItem("ExpectedEnergyDistribution", "Expected Energy Distribution", "{{BaseUrl}}dataentry/expectedenergydistribution", "fa-truck"),
	new ShortcutItem("PowerCurve", "Standard Power Curve", "{{BaseUrl}}dataentry/powercurve", "fa-bar-chart"),
	new ShortcutItem("DataBrowser", "Data Browser", "{{BaseUrl}}databrowser/default", "fa-globe"),
	// new ShortcutItem("Location", "WTG Location", "", "fa-map"),
	// new ShortcutItem("Turbines", "WTG Turbines", "", "fa-asterisk"),
	//new ShortcutItem("Scheduler", "Report Scheduler", "{{BaseUrl}}administration/scheduler", "fa-clock-o"),
	new ShortcutItem("Users", "User Management", "{{BaseUrl}}administration/user", "fa-user"),
	// new ShortcutItem("Roles", "User Role", "", "fa-check-circle-o")
	new ShortcutItem("ReportComparison", "Report Comparison", "{{BaseUrl}}dataentry/reportcomparison", "fa-files-o"),
];

model.ShortcutMenus(shortcutmenus);
</script>

<script id="shortcutTemplate" type="text/html">
	<li class="shortcut-item">
		<div class="shortcut-item-wrapper">
			<a data-bind="attr: { 'href': Url, 'title': Title }" data-toggle="tooltip">
				<i data-bind="attr: { 'class': 'fa fa-3x '+ (Icon?Icon:'fa-cogs') }"></i>
			</a>
		</div>
	</li>
</script>

<h1 class="page-title">
	Start Page
</h1>

<div class="panel">
	<div class="panel-heading">
		Please click <b>Shortcut Menu</b> below for faster navigation
	</div>
	<div class="panel-body">
		
		<div class="row">
			<div class="col-md-12">
				
				<div class="shortcut">
					<ul class="shortcut-menu" data-bind="template:{name:'shortcutTemplate', foreach:model.ShortcutMenus}"></ul>
				</div>			

			</div>
		</div> 

	</div>
</div>